<app-home></app-home>
<table border=1>
<!-- Notice the colSpan property is camel case -->
<!-- colspan和colSpan?? -->
<tr><td [colSpan]="1 + 1">Three-Four</td></tr>
<tr><td [attr.colspan]="1 + 1 + 1">One-Two</td><td>1111</td></tr>
<tr><td colSpan=2>One-Two</td><td>1111</td></tr>
<tr><td colspan=2>One-Two</td><td>1111</td></tr>
<!--  expression calculates colspan=2 -->
<!-- 当元素没有属性可绑的时候，就必须使用 attribute 绑定 -->


</table>

<!-- Bind button disabled state to `isUnchanged` property -->
<button type="button" [disabled]="isUnchanged">Disabled Button</button>
<!-- create and set an aria attribute for assistive technology -->
<button type="button" [attr.aria-label]="actionName">{{actionName}} with Aria</button>


<div>*****************</div>
<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page" [queryParams]="{id:1,name:'MyFirst'}">First Component</a></li>
    <li><a [routerLink]="['/second-component','22']" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>


